commands:
  01_node_install:
    command: yum install -y nodejs npm
    ignoreErrors: true
    
container_commands:
  01_npm_install:
    command: npm install --production
    cwd: /var/app/staging
    
  02_run_migrations:
    command: npx sequelize-cli db:migrate
    cwd: /var/app/staging
    leader_only: true
